/* Logo - Universal */
/*####################################################*/
.logo-onPost {
    position: absolute;
    top: 10px;
    left: 0px;
    height: 30px;
}

/* Buttons - Universal */
/*####################################################*/
.Buttons-onAll-div {
    padding: 0% 15px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}
.nextButton-onAll {
    position: absolute;
    left: 15px;
}
.backButton-onAll {
    position: absolute;
    right: 15px;
}

/* Card */
/*####################################################*/
@media (min-width: 800px) {
    .category-card {
        cursor: pointer;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        height: 200px;
        width: 80%;
        margin-bottom: 7px;
        margin-top: 7px;
        transition: 0.5s;
    }
    .mobile-category-icon + h1,
    .mobile-category-icon-selected + h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 70px;
        text-align: center;
        transform: translateY(-100%);
        color: rgba(0, 0, 0, 0.7);
    }
    .category-cardselected {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid rgb(0, 0, 0);
        border-radius: 3px;
        height: 200px;
        width: 85%;
        margin-bottom: 7px;
        margin-top: 7px;
        transition: 0.5s;
    }
    .mobile-category-icon {
        font-size: 150px;
        color: rgba(0, 0, 0, 0.7);
        position: relative;
        left: 15%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
    }
    .mobile-category-icon-selected {
        font-size: 150px;
        color: rgb(0, 0, 0);
        position: relative;
        left: 15%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
    }
}
@media (max-width: 800px) {
    .category-card {
        position: relative;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        height: 100px;
        width: 90%;
        margin: 30px 0px;
        transition: 0.5s;
    }
    .mobile-category-icon + h1,
    .mobile-category-icon-selected + h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 20px;
        text-align: center;
        transform: translateY(-100%);
        color: rgba(0, 0, 0, 0.7);
    }
    .category-cardselected {
        position: relative;
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
        border: 1px solid rgb(0, 0, 0);
        border-radius: 5px;
        height: 100px;
        width: 95%;
        margin-bottom: 30px;
        margin-top: 30px;
        transition: 0.5s;
    }
    .mobile-category-icon {
        font-size: 50px;
        color: rgba(0, 0, 0, 0.7);
        position: relative;
        left: 15%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
    }
    .mobile-category-icon-selected {
        font-size: 50px;
        color: rgb(0, 0, 0);
        position: relative;
        left: 15%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
    }
}

/* Title Input - Title Section */
/*####################################################*/
@media (min-width: 800px) {
    .title-input-div {
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        transition: all 0.5s ease-out;
    }

    .title-input {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100px;
        font-size: 80px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        background-color: transparent;
    }

    .title-input + label {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: absolute;
        top: 10px;
        left: 3px;
        font-size: 80px;
        color: rgba(0, 0, 0, 0.5);
        transition: all 0.5s ease-out;
    }

    .title-input:focus {
        outline: none;
    }

    .title-input-hasValue {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        width: 100%;
        height: 100px;
        font-size: 80px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        background-color: transparent;
    }

    .title-input-hasValue:focus {
        outline: none;
    }

    .title-input-hasValue + label {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: absolute;
        top: 100px;
        left: 0px;
        font-size: 100px;
        color: rgba(0, 0, 0, 0.5);
        transition: all 0.5s ease-out;
    }

    .title-length {
        position: absolute;
        right: 10px;
        bottom: -10px;
        color: rgba(0, 0, 0, 0.5);
    }
}
@media (max-width: 800px) {
    .title-input-div {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        width: 85%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        transition: all 0.5s ease-out;
    }
    .title-input {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: relative;
        z-index: 1;
        left: 50%;
        width: 94%;
        height: 50px;
        font-size: 25px;
        border: none;
        background-color: transparent;
        transform: translateX(-50%);
    }
    .title-input + label {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        font-size: 25px;
        color: rgba(0, 0, 0, 0.5);
        transition: all 0.5s ease-out;
    }

    .title-input:focus {
        outline: none;
    }

    .title-input-hasValue {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        width: 94%;
        position: relative;
        height: 50px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 25px;
        border: none;
        background-color: transparent;
    }

    .title-input-hasValue:focus {
        outline: none;
    }

    .title-input-hasValue + label {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: absolute;
        top: 55px;
        left: 10px;
        font-size: 25px;
        color: rgba(0, 0, 0, 0.5);
        transition: all 0.5s ease-out;
    }

    .title-length {
        position: absolute;
        right: 10px;
        top: 45px;
        color: rgba(0, 0, 0, 0.5);
    }
}

/* Description input - Description Section */
/*####################################################*/
@media (min-width: 800px) {
    .description-input-div {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        width: 90%;
        height: 500px;
    }
    .description-input {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        border: none;
        resize: none;
        width: 100%;
        height: 100%;
        font-size: 80px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }
    .description-input + label {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        cursor: text;
        color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: -2px;
        left: 0px;
        font-size: 80px;
        transition: all 1s ease-out;
    }
    .description-input:focus {
        outline: none;
    }
    .description-input-hasValue {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        border: none;
        resize: none;
        width: 100%;
        height: 100%;
        font-size: 80px;
        border: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    }
    .description-input-hasValue + label {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: absolute;
        color: rgba(0, 0, 0, 0.5);
        top: 500px; /*border bottom + 20px to bottom */
        left: 0px;
        font-size: 100px;
        transition: all 1s ease-out;
    }
    .description-input-hasValue:focus {
        outline: none;
    }
    .description-length {
        position: absolute;
        right: 10px;
        bottom: -10px;
        color: rgba(0, 0, 0, 0.5);
    }
}
@media (max-width: 800px) {
    .description-input-div {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 85%;
        height: 30%;
    }
    .description-input {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        resize: none;
        width: 100%;
        height: 100%;
        position: relative;
        right: 10px;
        font-size: 25px;
        border: none;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding: 10px;
        /* border-bottom: 1px solid rgba(0, 0, 0, 0.5); */
    }
    .description-input + label {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        cursor: text;
        color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 10px;
        left: 0px;
        font-size: 25px;
        transition: all 1s ease-out;
    }
    .description-input:focus {
        outline: none;
    }
    .description-input-hasValue {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        border: none;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        resize: none;
        position: relative;
        right: 10px;
        width: 100%;
        height: 100%;
        font-size: 25px;
        padding: 10px;
        line-height: 150%;
        /* border-bottom: 2px solid rgba(0, 0, 0, 0.5); */
    }
    .description-input-hasValue + label {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: absolute;
        color: rgba(0, 0, 0, 0.5);
        top: 115%; /*border bottom + 20px to bottom */
        left: 0px;
        font-size: 25px;
        transition: all 1s ease-out;
    }
    .description-input-hasValue:focus {
        outline: none;
    }
    .description-length {
        position: absolute;
        right: 0px;
        top: 110%;
        color: rgba(0, 0, 0, 0.5);
    }
}

/* Price input - Price Section */
/*####################################################*/
@media (min-width: 800px) {
    .price-input-div {
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        transition: all 0.5s ease-out;
    }
    .price-input {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100px;
        font-size: 80px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        background-color: transparent;
    }
    .price-input + label {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: absolute;
        top: 10px;
        left: 3px;
        font-size: 80px;
        color: rgba(0, 0, 0, 0.5);
        transition: all 0.5s ease-out;
    }
    .price-input:focus {
        outline: none;
    }
    .price-input-hasValue {
        width: 100%;
        height: 100px;
        font-size: 80px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        background-color: transparent;
    }
    .price-input-hasValue:focus {
        outline: none;
    }
    .price-input-hasValue + label {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: absolute;
        top: 100px;
        left: 0px;
        font-size: 100px;
        color: rgba(0, 0, 0, 0.5);
        transition: all 0.5s ease-out;
    }
}
@media (max-width: 800px) {
    .price-input-div {
        position: absolute;
        width: 85%;
        top: 50%;
        left: 50%;
        border: 1px solid black;
        border-radius: 5px;
        transform: translate(-50%, -100%);
        transition: all 0.5s ease-out;
    }
    .price-input {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 94%;
        height: 50px;
        font-size: 25px;
        border: none;
    }
    .price-input + label {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        font-size: 25px;
        color: rgba(0, 0, 0, 0.5);
        transition: all 0.5s ease-out;
    }
    .price-input:focus {
        outline: none;
    }
    .price-input-hasValue {
        position: relative;
        left: 50%;
        width: 94%;
        height: 50px;
        transform: translateX(-50%);
        font-size: 25px;
        border: none;
        background-color: transparent;
    }
    .price-input-hasValue:focus {
        outline: none;
    }
    .price-input-hasValue + label {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: absolute;
        top: 110%;
        left: 10px;
        font-size: 25px;
        color: rgba(0, 0, 0, 0.5);
        transition: all 0.5s ease-out;
    }
}

/* Image input - Image Section */
/*####################################################*/
@media (min-width: 800px) {
    .plus-card {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        height: 300px;
        width: 100%;
        transition: 0.5s;
    }
    .plus-card:hover {
        cursor: pointer;
    }
    .plus-card:active {
        border: 1px solid rgb(0, 0, 0);
        transition: 0s;
    }
    .plus-button {
        font-size: 50px;
        color: rgba(0, 0, 0, 0.7);
        padding: 125px 162px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
    }
    .plus-button:active {
        color: rgba(0, 0, 0, 1);
        transition: 0s;
    }
    .image-in-plus {
        width: 100%;
        height: 300px;
        border-radius: 3px;
        object-fit: cover;
    }
    .loading-animation-imageUpload {
        position: relative;
        left: 50%;
        top: 50%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
        transform: translate(-50%, -50%);
        animation: fadeInOut 1.4s infinite linear;
        transition: 2s;
    }
}
@media (max-width: 800px) {
    .plus-card {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        height: 30%;
        width: 80%;
        transition: 0.5s;
    }
    .plus-card:active {
        border: 1px solid rgb(0, 0, 0);
        transition: 0s;
    }
    .plus-card:active .plus-button {
        color: rgba(0, 0, 0, 1);
        transition: 0s;
    }
    .plus-button {
        font-size: 50px;
        color: rgba(0, 0, 0, 0.7);
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
    }
    .image-in-plus {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
    }
    .loading-animation-imageUpload {
        position: relative;
        left: 50%;
        top: 50%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
        transform: translate(-50%, -50%);
        animation: fadeInOut 1.4s infinite linear;
        transition: 2s;
    }
}

/* Buttons - Universal - onPost */
/*####################################################*/
@media (min-width: 800px) {
    .new-next-button-icon {
        background-color: transparent;
        cursor: pointer;
        padding: 30px 10px 30px 50px;
        color: rgba(0, 0, 0, 0.1);
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translate(0%, -50%);
        font-size: 100px;
        transition: 0.3s;
    }
    .new-single-next-button-icon {
        background-color: transparent;
        cursor: pointer;
        padding: 30px 10px 30px 50px;
        color: rgba(0, 0, 0, 0.1);
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translate(0%, -50%);
        font-size: 100px;
        transition: 0.3s;
    }
    .new-next-button-icon:hover {
        color: rgba(0, 0, 0, 0.5);
        top: 49.5%;
    }
    .new-back-button-icon {
        background-color: transparent;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.1);
        padding: 30px 50px 30px 10px;
        position: absolute;
        left: 0%;
        top: 50%;
        transform: translate(0%, -50%);
        font-size: 100px;
        transition: 0.3s;
    }
    .new-back-button-icon:hover {
        color: rgba(0, 0, 0, 0.5);
        top: 49.5%;
    }
    .confirm-post-button {
        cursor: pointer;
        position: absolute;
        font-size: 100px;
        color: rgba(0, 0, 0, 0.5);
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        transition: 0.3s;
    }
    .confirm-post-button:hover {
        top: 49%;
        color: rgba(0, 0, 0, 1);
    }
    .loading-animation-onPostSubmit {
        position: absolute;
        left: 50%;
        top: 75%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
        transform: translate(-50%, -50%);
        animation: fadeInOut 1.4s infinite linear;
        transition: 2s;
    }
}
@media (max-width: 800px) {
    .new-single-next-button-icon {
        background-color: transparent;
        cursor: default;
        color: rgba(0, 0, 0, 0.7);
        position: relative;
        left: 50%;
        transform: translate(-20%, 0%);
        font-size: 130px;
        transition: 0.3s;
    }
    .new-next-button-icon {
        background-color: transparent;
        cursor: default;
        color: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 85%;
        top: 85%;
        transform: translate(-50%, -50%);
        font-size: 130px;
        transition: 0.3s;
    }
    .new-back-button-icon {
        background-color: transparent;
        cursor: default;
        color: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 15%;
        top: 85%;
        transform: translate(-50%, -50%);
        font-size: 130px;
        transition: 0.3s;
    }
    .confirm-post-button {
        text-align: center;
        width: 85%;
        border-radius: 5px;
        background-color: rgb(35, 35, 35);
        color: rgb(185, 185, 185);
        position: relative;
        padding: 5px 0px;
        left: 50%;
        top: 30px;
        transform: translateX(-50%);
        font-size: 25px;
        transition: none;
    }
    .confirm-post-button:active {
        background-color: black;
        color: rgb(255, 255, 255);
    }
    .confirm-post-button-text {
        padding: 7px 0px;
    }
    .loading-animation-onPostSubmit {
        position: relative;
        left: 50%;
        top: 90px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
        transform: translate(-50%, -50%);
        animation: fadeInOut 1.4s infinite linear;
        transition: 2s;
    }
}

/* Error - Popup - onPost */
/*####################################################*/
@media (min-width: 800px) {
    .post-error-popup {
        color: rgb(255, 255, 255);
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translate(-50%, 0%);
        background-color: rgb(220, 0, 0);
        padding: 15px 25px;
        border-radius: 0px 0px 5px 5px;
        font-size: 20px;
    }
}
@media (max-width: 800px) {
    .post-error-popup {
        color: rgb(220, 0, 0);
        position: relative;
        text-align: center;
        padding: 5px 0px;
        left: 50%;
        top: 5px;
        transform: translate(-50%, 0%);
        font-size: 15px;
    }
}
