/* Bar */
/*####################################################*/
.navigation-bar {
    z-index: 10;
    padding-top: 5px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
}

/* Logo - onBar */
/*####################################################*/
@media (min-width: 800px) {
    .logo-onBar {
        cursor: pointer;
        height: 40px;
        margin-top: 5px;
    }
}
@media (max-width: 800px) {
    .logo-onBar {
        cursor: default;
        height: 30px;
        margin-bottom: 5px;
    }
}

/* Post Button - onBar */
/*####################################################*/
@media (min-width: 800px) {
    .post-button-onBar {
        position: fixed;
        right: 10px;
        top: 0;
        padding: 7px;
        cursor: pointer;
        font-size: 30px;
        color: rgb(18, 18, 18);
        transition: 0.3s;
    }
    .post-button-onBar:hover {
        color: rgb(18, 18, 18);
        transform: translateY(-3px);
    }
}
@media (max-width: 800px) {
    .post-button-onBar {
        position: fixed;
        border: 1px solid rgb(35, 35, 35);
        border-radius: 3px;
        right: 10px;
        top: 7px;
        padding: 0px 10px;
        cursor: default;
        font-size: 23px;
        font-weight: 200;
        background-color: rgb(35, 35, 35);
        color: rgb(255, 255, 255);
        transition: none;
    }
    .post-button-onBar:active {
        background-color: rgb(0, 0, 0);
    }
}

/* Login Button - onBar */
/*####################################################*/
@media (min-width: 800px) {
    .login-button-onBar {
        position: fixed;
        right: 95px;
        top: 7px;
        padding: 0px 0px 3px 0px;
        cursor: pointer;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.7);
        transition: 0.3s;
    }
    .login-button-onBar:hover {
        color: rgb(0, 0, 0);
    }
    .login-button-onBar:before {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
    .login-button-onBar:hover:before {
        visibility: visible;
        width: 100%;
    }
}
@media (max-width: 800px) {
    .login-button-onBar {
        cursor: default;
        position: fixed;
        border: 1px solid rgb(35, 35, 35);
        border-radius: 3px;
        font-size: 23px;
        font-weight: 200;
        color: rgb(35, 35, 35);
        padding: 0px 5px;
        right: 85px;
        top: 7px;
    }
    .login-button-onBar:active {
        border: 1px solid rgb(0, 0, 0);
        color: rgb(0, 0, 0);
    }
}

/* Menu Button - onBar */
/*####################################################*/
.user-menu-button-onBar {
    position: fixed;
    right: 85px;
    top: 7px;
    padding: 5px 0px;
    cursor: pointer;
    font-size: 25px;
}
.user-icon-onBar {
    color: rgb(46, 46, 46);
    transition: 0.3s;
}
.user-menu-button-onBar:hover .user-icon-onBar,
.user-menu-button-onBar:hover .user-menu-dropDown {
    transform: translateX(-10px);
    color: rgb(18, 18, 18);
}
.user-menu-button-onBar:focus .user-icon-onBar,
.user-menu-button-onBar:focus .user-menu-dropDown {
    transform: translateX(-10px);
    color: rgb(0, 0, 0);
}
.user-menu-dropDown {
    color: rgba(0, 0, 0, 0);
    margin-left: 5px;
    transition: 0.3s;
}
.user-menu-button-onBar:focus {
    outline: none;
}
.menu-list-div {
    position: fixed;
    top: 50px;
    right: 45px;
    font-size: 25px;
    width: 140px;
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgb(46, 46, 46);
    /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6); */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
}
.user-menu-button-onBar:focus + .menu-list-div,
.menu-list-div:active {
    opacity: 1;
    pointer-events: all;
}
.menu-list-div div {
    color: rgb(233, 233, 233);
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-list-div div:hover {
    background-color: rgb(18, 18, 18);
}
.menu-list-div .profile-button-inMenu {
    border-radius: 5px 5px 0px 0px;
}
.menu-list-div .logout-button-inMenu {
    border-radius: 0px 0px 5px 5px;
}
@media (max-width: 800px) {
    .user-menu-button-onBar {
        right: 70px;
        top: 7px;
        padding: 2px 0px;
        cursor: default;
        font-size: 23px;
    }
    .user-icon-onBar {
        color: rgb(35, 35, 35);
    }
}
