/* Header */
/*####################################################*/
@media (min-width: 800px) {
    .signup-header {
        font-weight: 300;
        text-align: center;
        cursor: default;
        position: relative;
        top: 40px;
    }
}
@media (max-width: 800px) {
    .signup-header {
        font-weight: 200;
        position: relative;
        text-align: center;
        margin-bottom: 10%;
    }
}

/* User Name - Input */
/*####################################################*/
@media (min-width: 800px) {
    .signup-name-input-div {
        position: relative;
        width: 30%;
        left: 50%;
        top: 120px;
        transform: translate(-50%, -100%);
    }
    .signup-name-input {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 50px;
        font-size: 30px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        background-color: transparent;
    }
    .signup-name-input:focus {
        outline: none;
    }
    .signup-name-input + label {
        position: absolute;
        font-size: 30px;
        top: 10px;
        left: 3px;
        color: rgba(0, 0, 0, 0.7);
        transition: 0.5s ease-out;
    }
    .signup-name-input-hasValue {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 50px;
        font-size: 30px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        background-color: transparent;
    }
    .signup-name-input-hasValue {
        outline: none;
    }
    .signup-name-input-hasValue + label {
        position: absolute;
        left: 3px;
        top: 55px;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.5);
        transition: 0.5s ease-out;
    }
}
@media (max-width: 800px) {
    .signup-name-input-div {
        position: relative;
        left: 50%;
        margin-bottom: 25px;
        transform: translateX(-50%);
        width: 90%;
        height: 50px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }
    .signup-name-input {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 94%;
        height: 100%;
        font-size: 25px;
        border: none;
        background-color: transparent;
    }
    .signup-name-input:focus {
        outline: none;
    }
    .signup-name-input + label {
        position: absolute;
        top: 50%;
        left: 3%;
        font-size: 25px;
        transform: translateY(-50%);
        color: rgba(0, 0, 0, 0.7);
    }
    .signup-name-input-hasValue {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 94%;
        height: 100%;
        background-color: transparent;
        border: none;
        font-size: 25px;
    }
    .signup-name-input-hasValue:focus {
        outline: none;
    }
    .signup-name-input-hasValue + label {
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translateY(-50%);
        font-size: 25px;
        color: rgba(0, 0, 0, 0);
    }
}

/* Email - Input */
/*####################################################*/
@media (min-width: 800px) {
    .signup-email-input-div {
        position: relative;
        width: 30%;
        left: 50%;
        top: 170px;
        transform: translate(-50%, -100%);
    }

    .signup-email-input {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 50px;
        font-size: 30px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        background-color: transparent;
    }
    .signup-email-input:focus {
        outline: none;
    }

    .signup-email-input + label {
        position: absolute;
        font-size: 30px;
        top: 10px;
        left: 3px;
        color: rgba(0, 0, 0, 0.7);
        transition: 0.5s ease-out;
    }

    .signup-email-input-hasValue {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 50px;
        font-size: 30px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        background-color: transparent;
    }
    .signup-email-input-hasValue {
        outline: none;
    }

    .signup-email-input-hasValue + label {
        position: absolute;
        left: 3px;
        top: 55px;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.5);
        transition: 0.5s ease-out;
    }
}
@media (max-width: 800px) {
    .signup-email-input-div {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 50px;
        margin-bottom: 25px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }
    .signup-email-input {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 94%;
        height: 100%;
        font-size: 25px;
        border: none;
        background-color: transparent;
    }
    .signup-email-input:focus {
        outline: none;
    }
    .signup-email-input + label {
        position: absolute;
        top: 50%;
        left: 3%;
        font-size: 25px;
        transform: translateY(-50%);
        color: rgba(0, 0, 0, 0.7);
    }
    .signup-email-input-hasValue {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 94%;
        height: 100%;
        background-color: transparent;
        border: none;
        font-size: 25px;
    }
    .signup-email-input-hasValue:focus {
        outline: none;
    }
    .signup-email-input-hasValue + label {
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translateY(-50%);
        font-size: 25px;
        color: rgba(0, 0, 0, 0);
    }
}

/* Password - Input */
/*####################################################*/
@media (min-width: 800px) {
    .signup-password-input-div {
        position: relative;
        left: 50%;
        top: 220px;
        width: 30%;
        transform: translate(-50%, -100%);
    }
    .signup-password-input {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 50px;
        font-size: 30px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        background-color: transparent;
    }
    .signup-password-input:focus {
        outline: none;
    }
    .signup-password-input + label {
        position: absolute;
        font-size: 30px;
        top: 10px;
        left: 3px;
        color: rgba(0, 0, 0, 0.7);
        transition: 0.5s ease-out;
    }
    .signup-password-input-hasValue {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 50px;
        font-size: 30px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        background-color: transparent;
    }
    .signup-password-input-hasValue:focus {
        outline: none;
    }
    .signup-password-input-hasValue + label {
        color: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 3px;
        top: 55px;
        font-size: 30px;
        transition: 0.5s ease-out;
    }
}
@media (max-width: 800px) {
    .signup-password-input-div {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 50px;
        margin-bottom: 35px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }
    .signup-password-input {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 94%;
        height: 100%;
        font-size: 25px;
        border: none;
        background-color: transparent;
    }
    .signup-password-input:focus {
        outline: none;
    }
    .signup-password-input + label {
        position: absolute;
        top: 50%;
        left: 3%;
        font-size: 25px;
        transform: translateY(-50%);
        color: rgba(0, 0, 0, 0.7);
    }
    .signup-password-input-hasValue {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 94%;
        height: 100%;
        background-color: transparent;
        border: none;
        font-size: 25px;
    }
    .signup-password-input-hasValue:focus {
        outline: none;
    }
    .signup-password-input-hasValue + label {
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translateY(-50%);
        font-size: 25px;
        color: rgba(0, 0, 0, 0);
    }
}

/* Signup - Button */
/*####################################################*/
@media (min-width: 800px) {
    .signup-button-container {
        cursor: pointer;
        position: absolute;
        left: 50%;
        top: 65%;
        color: rgba(0, 0, 0, 0.7);
        padding: 30px 0px 30px 0px;
        font-size: 50px;
        transform: translate(-50%, -50%);
        transition: 0.5s;
    }
    .signup-button-container:hover {
        color: rgba(0, 0, 0, 1);
        transform: translate(-50%, -55%);
    }
}
@media (max-width: 800px) {
    .signup-button-container {
        position: relative;
        left: 50%;
        width: 90%;
        padding: 5px 0px;
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
        color: rgb(255, 255, 255);
        background-color: rgb(35, 35, 35);
        border-radius: 5px;
        transform: translateX(-50%);
    }
    .signup-button-container:active {
        background-color: black;
        color: rgb(255, 255, 255);
    }
    .signup-button-text {
        padding: 7px 0px;
    }
}

/* 'OR' - Seperator Line */
/*####################################################*/
@media (min-width: 800px) {
    .signup-or-seperation {
        cursor: default;
        position: absolute;
        bottom: 22%;
        left: 50%;
        width: 40%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        transform: translate(-50%);
        transition: 0.5s;
    }

    .signup-or-seperation::before,
    .signup-or-seperation::after {
        position: absolute;
        width: 260px;
        height: 1px;
        top: 24px;
        background-color: #aaa;
        content: "";
    }

    .signup-or-seperation::before {
        left: 0;
    }

    .signup-or-seperation::after {
        right: 0;
    }
}
@media (max-width: 800px) {
    .signup-or-seperation {
        position: relative;
        left: 50%;
        width: 90%;
        margin-bottom: 10px;
        transform: translateX(-50%);
        height: 50px;
        line-height: 50px;
        text-align: center;
    }
    .signup-or-seperation::before,
    .signup-or-seperation::after {
        position: absolute;
        width: 45%;
        height: 1px;
        top: 24px;
        background-color: #aaa;
        content: "";
    }
    .signup-or-seperation::before {
        left: 0;
    }
    .signup-or-seperation::after {
        right: 0;
    }
}

/* Google Signup - Button */
/*####################################################*/
@media (min-width: 800px) {
    .signup-google-button-container {
        cursor: pointer;
        position: absolute;
        color: rgba(0, 0, 0, 0.7);
        left: 50%;
        bottom: 10%;
        padding: 10px;
        font-size: 30px;
        transform: translate(-50%, -50%);
        transition: 0.5s;
    }
    .signup-google-button-container:hover {
        color: rgba(0, 0, 0, 1);
    }
    .signup-google-button-container:before {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
    .signup-google-button-container:hover:before {
        visibility: visible;
        width: 100%;
    }
    .signup-google-icon {
        font-size: 30px;
        display: inline;
        margin-right: 10px;
    }

    .signup-google-text {
        display: inline;
        margin-left: 10px;
    }
}
@media (max-width: 800px) {
    .signup-google-button-container {
        position: relative;
        left: 50%;
        font-size: 20px;
        background-color: rgb(35, 35, 35);
        text-align: center;
        width: 90%;
        border-radius: 5px;
        padding: 10px 0px;
        margin-bottom: 20px;
        bottom: 8%;
        color: rgb(185, 185, 185);
        transform: translateX(-50%);
    }
    .signup-google-button-container:active,
    .signup-google-button-container:active .signup-google-icon {
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
    }
    .signup-google-icon {
        font-size: 20px;
        color: rgb(255, 255, 255);
        display: inline;
        margin-right: 10px;
    }

    .signup-google-text {
        color: rgb(255, 255, 255);
        display: inline;
        margin-left: 10px;
    }
}

/* Login - Link */
/*####################################################*/
@media (min-width: 800px) {
    .login-link {
        position: absolute;
        bottom: 5%;
        left: 50%;
        padding-bottom: 3px;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.7);
        transform: translate(-50%);
        transition: 0.5s;
        cursor: pointer;
    }
    .login-link:hover {
        color: rgba(0, 0, 0, 1);
    }
    .login-link:before {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
    .login-link:hover:before {
        visibility: visible;
        width: 100%;
    }
}
@media (max-width: 800px) {
    .login-link {
        position: relative;
        cursor: default;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.7);
        left: 50%;
        transform: translateX(-50%);
        font-size: 15px;
        text-align: center;
        text-decoration: underline;
        margin: 30px 0px;
    }
    .login-link:active {
        color: rgb(0, 0, 0);
    }
}

/* Loading - Animation */
/*####################################################*/
@media (min-width: 800px) {
    .signup-loading-animation {
        cursor: default;
        position: absolute;
        left: 50%;
        bottom: 18%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: black;
        transform: translate(-50%, -50%);
        animation: fadeInOut 1.4s infinite linear;
        transition: 2s;
    }
    @keyframes fadeInOut {
        50% {
            opacity: 0;
        }
    }
}
@media (max-width: 800px) {
    .signup-loading-animation {
        cursor: default;
        position: relative;
        left: 50%;
        /* position: absolute; */
        /* left: 50%; */
        /* bottom: 14%; */
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: black;
        transform: translateX(-50%);
        margin-top: 30px;
        animation: fadeInOut 1.4s infinite linear;
        transition: 2s;
    }
}

/* Error - Popup */
/*####################################################*/
@media (min-width: 800px) {
    .signup-error-popup {
        color: rgb(255, 255, 255);
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translate(-50%, 0%);
        background-color: rgb(220, 0, 0);
        padding: 15px 25px;
        border-radius: 0px 0px 5px 5px;
        font-size: 20px;
    }
}
@media (max-width: 800px) {
    .signup-error-popup {
        color: rgb(220, 0, 0);
        position: relative;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        background-color: transparent;
        text-align: center;
        margin-top: 20px;
        font-size: 15px;
    }
}
