@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    font-family: "Roboto", sans-serif !important;
}
html,
body {
    background-color: rgb(255, 255, 255);
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}
.container {
    margin: 80px auto 0 auto;
    max-width: 1200px;
}
@media (max-width: 800px) {
    .container {
        margin: 60px auto 0 auto;
    }
}
.nav-container {
    margin-left: auto;
}
.logo-universal {
    position: absolute;
    top: 10px;
    left: 0px;
    height: 40px;
}

@media (max-width: 800px) {
    .logo-universal {
        height: 25px;
    }
}

.loading-animation-scroll-home {
    position: relative;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    animation: fadeInOut 1.4s infinite linear;
    transition: 2s;
}
@keyframes fadeInOut {
    50% {
        opacity: 0;
    }
}

.image-onPage-div {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 50%;
    background-color: transparent;
}

.image-onPage {
    position: relative;
    top: 50%;
    left: 50%;
    height: auto;
    width: 100%;
    border-radius: 3px;
    transform: translate(-50%, -50%);
}

.product-title-new {
    position: absolute;
    top: 0px;
    left: 50%;
    height: 100%;
    width: 50%;
    transform: translate(-0%, -0%);
}

.product-title-new h1 {
    text-align: center;
    position: relative;
    top: 10%;
    font-size: 50px;
}

.universal-error-popup {
    color: rgb(255, 255, 255);
    position: fixed;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0%);
    background-color: rgb(220, 0, 0);
    padding: 15px 25px;
    border-radius: 0px 0px 5px 5px;
    font-size: 20px;
}

.chat-list-container {
    margin: 20px 50px;
    cursor: pointer;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid rgb(46, 46, 46);
    transition: 0.3s;
}
.chat-list-container:hover {
    color: rgb(200, 200, 200);
    background-color: rgb(46, 46, 46);
}

/*sdjfhbsdkfsdkfghgsfjsdgfjh*/

.main-container-test {
    background-color: rgb(250, 250, 250);
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 10px;
}

.state-section-test {
    width: 40%;
    padding: 10px;
    height: 70vh;
}

.state-select-container-test {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}

.state-select-container-test div {
    color: rgb(30, 30, 30);
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.state-select-container-test div:hover {
    background-color: rgb(230, 230, 230);
}

.selected-dist {
    background-color: rgb(0, 0, 0);
}

.city-section-test {
    width: 60%;
    border-left: 1px solid rgb(160, 160, 160);
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.search-input-form-test {
}

.search-input-form-input-test {
    font-size: 30px;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

.search-input-form-input-test:focus {
    outline: none;
}

.search-results-div-test {
    height: 54vh;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(220, 0, 0); */
    overflow: scroll;
}

.search-results-content-test {
    cursor: pointer;
    padding: 20px;
    background-color: rgb(230, 230, 230);

    border-radius: 5px;
}

.search-results-content-test:hover {
    background-color: rgb(80, 80, 80);
    color: rgb(200, 200, 200);
}

.hint {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52vh;
    font-size: 30px;
    color: rgb(117, 117, 117);
}
